@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Semibold';
    src: url('../fonts/Raleway-Semibold/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-Semibold/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Semibold/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-Semibold/Raleway-SemiBoldttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Philosopher-Bold/Philosopher-Bold.eot');
    src: url('../fonts/Philosopher-Bold/Philosopher-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Philosopher-Bold/Philosopher-Bold.woff') format('woff'),
        url('../fonts/Philosopher-Bold/Philosopher-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher-Bold';
    src: url('../fonts/Philosopher-Bold/Philosopher-Bold.eot');
    src: url('../fonts/Philosopher-Bold/Philosopher-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Philosopher-Bold/Philosopher-Bold.woff') format('woff'),
        url('../fonts/Philosopher-Bold/Philosopher-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher-Regular';
    src: url('../fonts/Philosopher-Regular/Philosopher-Regular.eot');
    src: url('../fonts/Philosopher-Regular/Philosopher-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Philosopher-Regular/Philosopher-Regular.woff') format('woff'),
        url('../fonts/Philosopher-Regular/Philosopher-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}