*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

body.__lock {
    overflow: hidden;
}

.links__w {
    color: white;
}

.title_grn {
    font-family: 'Philosopher-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #5B8603;
}

.icon__mediums {
    width: 25px;
    height: 25px;
}

.icon__small {
    width: 18px;
    height: 18px;
}

.titless {
    align-self: center;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    position: relative;
}

.container__wide {
    max-width: 1420px;
    margin: 0 auto;
}

.header__content {
    min-height: 116px;
    display: flex;
    align-items: center;
}

.page__logo {
    background-color: white;
    padding: 15px 15px 0 15px;
    border-bottom-right-radius: 30px;
}

.page__logo img {
    display: block;
}

.navigation__menu {
    display: flex;
}

.navigation__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navigation__element {
    margin-right: 47px;
    list-style-type: none;
}

.navigation__link {
    font-family: 'Philosopher-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

.header__contacts {
    display: flex;
}

.phone::before {
    content: '';
    position: absolute;
    background-image: url(../icons/header__logo/arcticons_phone.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
    left: -20px;
}

.phone {
    position: relative;
    margin-right: 36px;
    font-family: 'Philosopher-Regular';
}

.location::before {
    content: '';
    position: absolute;
    background-image: url(../icons/header__logo/cil_location-pin.png);
    width: 15px;
    height: 16px;
    left: -20px;
}

.location {
    position: relative;
    font-family: 'Philosopher-Regular';
}

.menu__icon {
    display: none;
}



/* --- Intro block styles --- */
/* .main__content {
    display: flex;
    flex-direction: column;
} */

.intro__block {
    background: url(../img/intro__bg/Rectangle\ 3\ Palette\ Palette.jpg) center center / cover no-repeat;
    min-height: 896px;
}

.intro__row {
    margin-top: 193px;
}

.intro__row .intro__title {
    margin: 0;
}

.intro__title {
    font-family: 'Philosopher-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
}

.intro__subtitle {
    font-family: 'Philosopher-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

/* --- Socials block stiles --- */
.socials__block {
    min-height: 70px;
    padding: 22px 0;
}

.socials__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__link {
    margin-right: 75px;
}

.socials__link:last-child {
    margin: 0;
}

.instagram {
    background: url(../icons/socials__icons/instagram.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.facebook {
    background: url(../icons/socials__icons/facebook.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.viber {
    background: url(../icons/socials__icons/viber.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.telegram {
    background: url(../icons/socials__icons/telegram.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.whatsapp {
    background: url(../icons/socials__icons/whatupp.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* --- About block styles --- */
.about__us {
    padding: 63px 0 15px 0;
}

.about__title {
    margin-bottom: 42px;
}

.about__description {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 25px;
}

.about__card {
    flex: 1 0 33.33%;
    /* align-self: flex-start; */
    padding: 10px 5px 5px 5px;
}

.organization__content {
    display: flex;
    flex-wrap: wrap;
}


.organization__title {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 12px;
}

.organization__item {
    font-family: 'Raleway-Regular';
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    position: relative;
}

.organization__item::before {
    content: '';
    position: absolute;
    background-color: #000000;
    width: 4px;
    height: 4px;
    top: 7px;
    left: -12px;
    border-radius: 2px;
}

/* --- Foundation goals block styles */
.foundation__goals {
    padding: 40px 0;
}

.foundation__title {
    margin-bottom: 40px;
}

.item__row {
    display: flex;
}

.foundation__item {
    flex: 1 1 33.33%;
    position: relative;
    padding: 35px 10px;
    margin-left: 30px;
}

.item__description {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

.item__description::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #5B8603;
    left: -35px;
    border-radius: 10px;
}

/* --- Services block styles  --- */
.sevices {
    padding: 118px 0 65px 0;
    background-image: url(../img/services__bg/Rectangle\ 90.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.services__block {
    padding: 30px 40px;
    background-color: white;
}

.services__title {
    margin-bottom: 60px;
}

.services__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content__row {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom: 20px;
}

.content__card {
    flex: 1 0 33.33%;
    padding: 0 20px 20px;
}

.card__title {
    font-family: 'Philosopher-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 28px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #5B8603;
}

.content__card:last-child {
    max-width: 360px;
}

.content__card:last-child .card__title {
    text-align: left;
}

/* .card__title::after {
    content: '';
    position: absolute;
    width: 308px;
    height: 1px;
    background: #5B8603;
    bottom: 0;
    left: 0;
} */

.card__list {
    margin-left: 0px;
}

.list__element {
    list-style-type: none;
    text-align: left;
    position: relative;
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin: 0px 0 15px 30px;
}

.list__element::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #5B8603;
    border-radius: 5px;
    left: -20px;
    top: 5px;
}

/* --- Specialists block style */

.specialists {
    padding: 54px 0 40px 0;
}

/* .specialists .container__wide{
    margin: 0;
} */
.specialists__title {
    margin-bottom: 70px;
    margin-left: 103px;
}

.specialists__row {
    position: relative;
}

.specialists__content {
    display: flex;
}

.card__content {
    display: flex;
    flex: 0 0 60%;
    margin-left: 103px;
    max-width: 815px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.specialists__card {
    border: 1px solid #979797;
    border-radius: 10px;
    margin-bottom: 22px;
    max-width: 393px;
    overflow: hidden;
}

.specialist__name {
    font-family: 'Philosopher-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    padding: 5px 0 5px 28px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38)), linear-gradient(0deg, #5B8603, #5B8603), #FFFFFF;
    color: white;
}

.specialists__description {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    padding: 20px 28px 17px 28px;
    height: 223px;
    background-color: white;
}

.specialists__img {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

/* --- Partners block styles --- */
.partners {
    padding: 40px 0 75px 0;
    min-height: 290px;
}

.partners__title {
    margin-bottom: 13px;
}

.partner__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 90px;
    width: 100%;
    background-color: #5B8603;
    position: relative;
    margin-bottom: 35px;
    padding-left: 38px;
}

.partner__info:last-child {
    margin: 0;
}

.partner__info::before {
    content: '';
    right: -107px;
    position: absolute;
    border: 45px solid transparent;
    border-left: 63px solid #5B8603;
}

.partners__subtitle {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.partners__link {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}


/* --- Contacts block styles --- */
.contacts {
    min-height: 560px;
}

.contacts__row {
    display: flex;
    justify-content: flex-start;
}

.contacts__info {
    max-width: 297px;
    margin-left: 130px;
}

.contacts__title {
    margin-bottom: 34px;
}

.contacts__channels {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 36px;
}
.channel__phone, .channel__email, .channel__location {
    position: relative;
    margin-left: 30px;
}
.channel__phone::before {
    content: '';
    position: absolute;
    background: url(../icons/contacts__icons/phone.svg);
    height: 26px;
    width: 20px;
    background-repeat: no-repeat; 
    left: -30px;   
}

.channel__email::before {
    content: '';
    position: absolute;
    background: url(../icons/contacts__icons/email.svg);
    height: 20px;
    width: 24px;
    background-repeat: no-repeat;
    left: -30px;
    top: 5px;
}

.channel__location::before {
    content: '';
    position: absolute;
    background: url(../icons/contacts__icons/location.svg);
    height: 25px;
    width: 21px;
    background-repeat: no-repeat;
    left: -30px;
}

.foundation__registration {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 34px;
}

.work__schedule {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}


/* --- Footer block styles --- */
.page__footer {
    min-height: 131px;
    background-color: #2E4400;
    padding: 53px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content .navigation__element {
    margin-right: 10px;
}

.footer__content .navigation__element:last-child {
    margin: 0;
}

.contacts__channels a {
    color: #000000;
}


.footer__content .socials__link {
    margin-right: 30px;
}

.footer__content .socials__link:last-child {
    margin: 0;
}

/* MEDIA QUERY`S */
@media (max-width: 1024px) {
    .navigation__element {
        margin-right: 15px;
    }
}

@media (min-width:767px) {
    .navigation__element:last-child {
        margin: 0;
    }
}

/* --- WIDTH 767 and lower */
@media (max-width: 767px) {

    /* .header__content {
        display: flex;
        align-items: center;
    } */
    .page__header {
        padding: 0px 10px;
        background-color: white;
    }

    .page__logo {
        border-radius: 50%;
        padding: 0;
        background-color: transparent;
    }

    .navigation__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 116px 10px 0 10px;
        transition: left 0.3s ease 0s;
        z-index: 2;
        overflow: auto;
    }

    .navigation__wrapper.__active {
        left: 0;
    }

    .navigation__element {
        margin: 10px 0 0 0;
        text-align: center;
    }

    .navigation__link {
        font-size: 49px;
    }

    .phone,
    .location {
        margin: 10px 0 0 0;
        font-size: 38px;
        text-align: center;
    }

    .page__logo {
        position: absolute;
        z-index: 5;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: absolute;
        width: 30px;
        height: 18px;
        right: 0;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 13%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #2E4400;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: '';
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon.__active span {
        transform: scale(0) translate(0, -50%);
    }

    .menu__icon.__active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon.__active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .navigation__menu {
        flex-direction: column;
    }

    .header__contacts {
        flex-direction: column;
    }

    .intro__title,
    .intro__subtitle {
        text-align: center;
    }
}

@media (max-width:426px) {
    .intro__title {
        font-size: 50px;
    }

    .socials__link {
        margin-right: 40px;
    }

    .about__title {
        text-align: center;
    }

    .about__description {
        text-align: center;
    }

    .organization__content {
        flex-direction: column;
    }

    .about__card {
        text-align: center;
    }

    .organization__item {
        list-style-type: disc;
    }

    .organization__item::before {
        display: none;
    }

    .foundation__title {
        text-align: center;
    }

    .foundation__column {
        padding: 0 20px;
    }

    .item__row {
        flex-direction: column;
    }

    .foundation__item {
        align-self: self-start;
    }

    .sevices {
        padding-bottom: 0;
    }

    .services__title {
        text-align: center;
    }

    .specialists__title {
        text-align: center;
        margin-left: 0;
        padding-top: 10px;
    }
    .specialists__description {
        height: fit-content;
    }
    .footer__content{
        flex-direction: column;
    }
    .socials__row{
        padding: 10px 0;
    }

}
@media (max-width: 1025px) {
    .partners {
        padding: 40px 0 30px 0;
    }
    .contacts {
        background-image: url(../img/contacts__bg/Rectangle\ 101.png);
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .contacts__row{
        position: relative;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .contacts__title{
        color: white;
    }
    .contacts__channels a {
        color:white;
    }
    .contacts__img{
        display: none;
    }
    .contacts__info{
        padding: 20px 0;
        /* position: absolute; */
        /* z-index: 2; */
        /* transform: translate(50%,0); */
        /* left: 50%; */
        margin: 0;
        padding: 20px 0;
        /* margin-left: -122px; */
    }
}

@media (max-width:1309px) {

    .specialists__title {
        margin-bottom: 15px;
        position: relative;
        z-index: 2;
        color: white;
    }
}